<div class="register-container">
  <form action="" (ngSubmit)="onSubmit()"  #registrationForm="ngForm" class="form-main">
    <div class="form-group">
      <input placeholder="Username" type="text" id="username" name="username" class="formControl" [(ngModel)]="user.name">
      <div *ngIf="registrationForm.controls['username'].touched && registrationForm.controls['username'].hasError('required')">
        Username is required.
      </div>
      <div *ngIf="registrationForm.controls['username'].touched && registrationForm.controls['username'].hasError('minlength')">
        Username must be at least 2 characters long.
      </div>
    </div>
    <div class="form-group">
      <input placeholder="Surname"  type="text" id="surname" name="surname" class="formControl" [(ngModel)]="user.surname" required minlength="2">
    </div>
    <div class="form-group">
      <input placeholder="E-mail" type="email" id="email" name="email" class="formControl" [(ngModel)]="user.email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">

    </div>
    <div class="form-group">
      <input placeholder="Password" type="password" id="password" name="password" class="formControl" [(ngModel)]="user.password" required minlength="8">
    </div>
    <div class="form-group">
      <input placeholder="Repeat Password" type="password" id="rptPassword" name="rptPassword" class="formControl" [(ngModel)]="user.repeatPassword" required [pattern]="user.password">
    </div>
    <div class="form-group">
      <input placeholder="Adress" type="text" id="adress" name="adress" class="formControl" [(ngModel)]="user.address" required  minlength="5">
    </div>
    <div class="form-group">
      <input placeholder="Phone Number" type="number" id="phoneNumber" name="phoneNumber" class="formControl" [(ngModel)]="user.phone" required pattern="^[0-9]{10}$">
    </div>
    <div class="form-group">
      <label >Gender:</label>
      <div>
        <input type="radio" id="genderM" name="gender" class="genderMale" [(ngModel)]="user.gender" value="male" required>
        <label for="genderM">Male</label>
      </div>
      <div>
        <input type="radio" id="genderF" name="gender" class="genderFamale" [(ngModel)]="user.gender" value="female" required >
        <label for="genderF">Female</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primery">Register</button>
  </form>
</div>
